///////////////////////////////////////////////////
/////Colores, Mixins, y classes compartidas
///////////////////777
.hide {
    display: none;
}

.flex-cv {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.shadow1 {
    box-shadow: 0 5px 10px rgba(39, 40, 44, 0.05), 0 15px 40px rgba(64, 66, 73, 0.2);
    &:hover {
        box-shadow: 0 7px 15px rgba(33, 34, 37, 0.05), 0 20px 45px rgba(48, 49, 54, 0.2);
    }
}

.scale {
    transition: 0.7s transform;
    &:hover {
        transition: 0.7s transform;
        transform: scale(1.1);
    }
}

.shadow2 {
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
    &:hover {}
}

// https://coolors.co/264653-f2f6d0-d0e1d4-d9d2b6-e4be9e 
$padding: 15px;
$color1:#75DDDD;
$color2:#508991;
$color3:#09BC8A;
$color4: #004346;
$color5:#172A3A;
$red:#ff513a;
$yellow: #e9ff3a;
$white: #ffffff;
$black: #000000;
$grid-float-breakpoint: 1200px;
 :root {
    --color1: $color1;
    --color2: $color2;
    --color3: $color3;
    --color4: $color4;
    --color4: $color5;
    --red: $red;
    --yellow: $yellow;
    --white: $white;
    --black: $black;
    --fuente1: 'Quicksand', sans-serif; //light 300, regular 400, medium 500, semi-bold 600, bold 700
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background: #024661;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background-color: #20475788;
}

///////////////////////////////////////////////////
/////configuración de la página
///////////////////777
* {
    font-family: var(--fuente1);
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    &.menu {
        background: $color5;
    }
}

///////////////////////////////////////////////////
/////PAGINA
///////////////////
.region-inicio {
    min-height: 100vh;
}

//////////////////////////77777
////////WIDGETS////////////////
///////////////////////////
//////////////
/////tabla 1 
///////////
table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    .boton-filtro {
        position: absolute;
        top: 124px;
        right: 135px;
    }
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

th {
    text-align: left;
}

thead {
    th {
        background-color: $color1;
        color: $color5;
    }
    input,
    select {
        padding: 6px 0px;
    }
}

tbody {
    tr {
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
    td {
        position: relative;
        &:hover {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                background-color: rgba(255, 255, 255, 0.2);
                z-index: -1;
            }
        }
    }
}

///////////////
//POPUP
//////////////
.overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
    z-index: 10;
    &.active {
        visibility: visible;
    }
}

.popup {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 600px;
    max-height: 80vh;
    min-height: 35vh;
    overflow-y: auto;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
    z-index: 30;
    .form-body {
        @extend .flex-cv;
        flex-flow: column;
    }
    form {
        @extend .flex-cv;
        flex-flow: column;
        // opacity: 0;
        padding: 15px;
    }
    .btn-cerrarPop {
        font-size: 16px;
        line-height: 16px;
        display: block;
        text-align: right;
        transition: .3s ease all;
        color: #BBBBBB;
        &:hover {
            color: #000;
        }
    }
    h3 {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 10px;
        opacity: 0;
        span {
            //numero del ejercicio
            font-weight: inherit;
        }
    }
    h4 {
        font-size: 26px;
        font-weight: 300;
        margin-bottom: 40px;
        opacity: 0;
    }
    .contenedor-popup {
        opacity: 0;
        margin-top: 50px;
    }
    button,
    input[type="button"] {
        margin-top: 10px;
        padding: 10px 15px;
        background: $color3;
        color: $color2;
    }
}

/////////
///hamburguesa
////////////
$fg:#6bdf5c;
.burger-menu {
    visibility: hidden;
    display: none;
    background: $fg;
    border-radius: 20% 20% 0px 0px;
    width: 50px;
    height: 50px;
    bottom: 0px;
    right: 0.75%;
    position: fixed;
    transition: .3s ease bottom;
    input {
        display: none;
    }
}

.hamburger {
    $width: 25px;
    $height: 3px;
    width: $width;
    height: $height;
    background: white;
    display: block;
    position: absolute;
    bottom: 50%;
    right: 25%;
    transition: transform 200ms;
}

$hamburger-spacing:8px;
.hamburger-1 {
    transform: translate3d(0, -$hamburger-spacing, 0);
}

.hamburger-2 {
    transform: translate3d(0, 0, 0);
}

.hamburger-3 {
    transform: translate3d(0, $hamburger-spacing, 0);
}

.menu-open:checked+.menu-open-button {
    .hamburger-1 {
        transform: translate3d(0, 0, 0) rotate(45deg);
    }
    .hamburger-2 {
        transform: translate3d(0, 0, 0) scale(0.1, 1);
    }
    .hamburger-3 {
        transform: translate3d(0, 0, 0) rotate(-45deg);
    }
}

////////////////////////////////
////////ANIMACIONES
///////////////////////////////
.popup.active {
    transform: scale(1);
    opacity: 1;
    h3 {
        animation: entradaTitulo .8s ease .5s forwards;
    }
    h4 {
        animation: entradaSubtitulo .8s ease .5s forwards;
    }
    .contenedor-popup {
        animation: entrada3 1s linear 1s forwards;
    }
}

@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entrada3 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}