.hide {
  display: none;
}

.flex-cv, .popup .form-body, .popup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shadow1 {
  -webkit-box-shadow: 0 5px 10px rgba(39, 40, 44, 0.05), 0 15px 40px rgba(64, 66, 73, 0.2);
          box-shadow: 0 5px 10px rgba(39, 40, 44, 0.05), 0 15px 40px rgba(64, 66, 73, 0.2);
}

.shadow1:hover {
  -webkit-box-shadow: 0 7px 15px rgba(33, 34, 37, 0.05), 0 20px 45px rgba(48, 49, 54, 0.2);
          box-shadow: 0 7px 15px rgba(33, 34, 37, 0.05), 0 20px 45px rgba(48, 49, 54, 0.2);
}

.scale {
  -webkit-transition: 0.7s -webkit-transform;
  transition: 0.7s -webkit-transform;
  transition: 0.7s transform;
  transition: 0.7s transform, 0.7s -webkit-transform;
}

.scale:hover {
  -webkit-transition: 0.7s -webkit-transform;
  transition: 0.7s -webkit-transform;
  transition: 0.7s transform;
  transition: 0.7s transform, 0.7s -webkit-transform;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shadow2 {
  -webkit-box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
          box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

:root {
  --color1: $color1;
  --color2: $color2;
  --color3: $color3;
  --color4: $color4;
  --color4: $color5;
  --red: $red;
  --yellow: $yellow;
  --white: $white;
  --black: $black;
  --fuente1: 'Quicksand', sans-serif;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #024661;
}

::-webkit-scrollbar-track {
  background-color: #20475788;
}

* {
  font-family: var(--fuente1);
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

body.menu {
  background: #172A3A;
}

.region-inicio {
  min-height: 100vh;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin: 4rem 6vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 20rem;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.card:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.card:hover .c-overlay {
  bottom: 0px;
}

.card .header-image {
  width: 100%;
  height: auto;
}

.card .c-overlay {
  position: absolute;
  bottom: -11rem;
  left: 0;
  right: 0;
  z-index: 1;
  min-height: 18rem;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.card .c-overlay .c-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.card .c-overlay .c-header .arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card .c-overlay .c-header .arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card .c-overlay .c-header .h-text .title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card .c-overlay .c-header .h-text .tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #D7BDCA;
}

.card .c-overlay .c-header .h-text .status {
  font-size: .8em;
  color: #D7BDCA;
}

.card .c-overlay .description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  border-radius: 0px;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card .c-overlay .description p {
  min-height: 146px;
}

table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

table .boton-filtro {
  position: absolute;
  top: 124px;
  right: 135px;
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th {
  text-align: left;
}

thead th {
  background-color: #75DDDD;
  color: #172A3A;
}

thead input,
thead select {
  padding: 6px 0px;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
  position: relative;
}

tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  z-index: 10;
}

.overlay.active {
  visibility: visible;
}

.popup {
  background: #F8F8F8;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  width: 600px;
  max-height: 80vh;
  min-height: 35vh;
  overflow-y: auto;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
  z-index: 30;
}

.popup .form-body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.popup form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 15px;
}

.popup .btn-cerrarPop {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  color: #BBBBBB;
}

.popup .btn-cerrarPop:hover {
  color: #000;
}

.popup h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0;
}

.popup h3 span {
  font-weight: inherit;
}

.popup h4 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 40px;
  opacity: 0;
}

.popup .contenedor-popup {
  opacity: 0;
  margin-top: 50px;
}

.popup button,
.popup input[type="button"] {
  margin-top: 10px;
  padding: 10px 15px;
  background: #09BC8A;
  color: #508991;
}

.burger-menu {
  visibility: hidden;
  display: none;
  background: #6bdf5c;
  border-radius: 20% 20% 0px 0px;
  width: 50px;
  height: 50px;
  bottom: 0px;
  right: 0.75%;
  position: fixed;
  -webkit-transition: .3s ease bottom;
  transition: .3s ease bottom;
}

.burger-menu input {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  bottom: 50%;
  right: 25%;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.popup.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.popup.active h3 {
  -webkit-animation: entradaTitulo .8s ease .5s forwards;
          animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active h4 {
  -webkit-animation: entradaSubtitulo .8s ease .5s forwards;
          animation: entradaSubtitulo .8s ease .5s forwards;
}

.popup.active .contenedor-popup {
  -webkit-animation: entrada3 1s linear 1s forwards;
          animation: entrada3 1s linear 1s forwards;
}

@-webkit-keyframes entradaTitulo {
  from {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaTitulo {
  from {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes entradaSubtitulo {
  from {
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaSubtitulo {
  from {
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes entrada3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes entrada3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */